                                    body {
                                        margin: 0px;
                                        display: flow-root;
                                        flex-direction: column;
                                    }
                                    
                                    .gren {
                                        width: 100px;
                                        height: 100px;
                                        background-color: blue;
                                        animation-name: gren;
                                        animation-duration: 4s
                                    }
                                    
                                    @keyframes gren {
                                        form {
                                            background-color: blue;
                                        }
                                        to {
                                            background-color: green;
                                        }
                                    }
                                    
                                    .reed {
                                        width: 100px;
                                        height: 100px;
                                        background-color: blue;
                                        animation-name: reed;
                                        animation-duration: 4s
                                    }
                                    
                                    @keyframes reed {
                                        0% {
                                            background-color: blue;
                                        }
                                        25% {
                                            background-color: green;
                                        }
                                        50% {
                                            background-color: yellow;
                                        }
                                        100% {
                                            background-color: red;
                                        }
                                    }
                                    
                                    #one {
                                        height: 220px;
                                        width: 250px;
                                        display: flow-root;
                                        background-size: cover;
                                    }
                                    
                                    #tow {
                                        height: 210px;
                                        width: 200px;
                                        background-size: cover;
                                        display: flex;
                                        margin-top: 175px;
                                    }
                                    
                                    .photoone {
                                        width: 50px;
                                        height: 50px;
                                        animation-duration: 5s;
                                        animation-name: photoone;
                                        animation-direction: alternate;
                                        animation-iteration-count: infinite;
                                        filter: opacity(50%);
                                    }
                                    
                                    @keyframes photoone {
                                        from {
                                            opacity: 1;
                                        }
                                        to {
                                            opacity: 0;
                                        }
                                    }
                                    
                                    .phototow {
                                        width: 60px;
                                        height: 1vh;
                                        animation-name: phototow;
                                        animation-duration: 5s;
                                        filter: brightness(10%);
                                        animation-direction: alternate;
                                        animation-iteration-count: infinite;
                                    }
                                    
                                    @keyframes phototow {
                                        from {
                                            filter: brightness(10%);
                                        }
                                        to {
                                            filter: brightness(100%);
                                        }
                                    }
                                    
                                    .photofre {
                                        width: 60px;
                                        height: 1vh;
                                        animation-name: photofre;
                                        animation-duration: 5s;
                                        filter: sepia(100%);
                                        animation-direction: alternate;
                                        animation-iteration-count: infinite;
                                    }
                                    
                                    #free {
                                        height: 100px;
                                        width: 200px;
                                        margin-top: 219px;
                                    }
                                    
                                    @keyframes photofre {
                                        from {
                                            filter: sepia(100%);
                                        }
                                        to {
                                            filter: sepia(5%);
                                        }
                                    }
                                    
                                    #for {
                                        width: 300px;
                                        height: 300px;
                                        position: relative;
                                        background-color: orange;
                                        animation: for 6s infinite;
                                        margin-top: 320px;
                                    }
                                    
                                    @keyframes for {
                                        from {
                                            background-color: orange;
                                            left: 0px;
                                        }
                                        to {
                                            background-color: pink;
                                            left: 200px;
                                        }
                                    }
                                    
                                    #for:hover {
                                        transform: translateX(30px -30px);
                                        transition-duration: 1000s;
                                        margin-top: 320px;
                                    }
                                    
                                    #five {
                                        width: 73px;
                                        height: 35px;
                                        position: relative;
                                        background-color: red;
                                        animation: five 6s infinite;
                                        margin-top: 10px;
                                    }
                                    
                                    @keyframes five {
                                        0% {
                                            top: 0px;
                                            background-color: red;
                                        }
                                        25% {
                                            top: 50px;
                                            background-color: green;
                                        }
                                        50% {
                                            top: 55px;
                                            background-color: yellow;
                                        }
                                        100% {
                                            top: 100px;
                                            background-color: lightblue;
                                        }
                                    }
                                    
                                    @keyframes african {
                                        from {
                                            box-shadow: 10px 20px 30px black;
                                        }
                                        to {
                                            box-shadow: 10px 20px 30px yellow;
                                        }
                                    }
                                    
                                    #african {
                                        width: 250px;
                                        height: 250px;
                                        position: relative;
                                        margin-top: 131px;
                                        animation: african 5s infinite;
                                    }
                                    
                                    @keyframes blure {
                                        from {
                                            filter: blur(35px)
                                        }
                                        to {
                                            filter: blur(0px);
                                        }
                                    }
                                    
                                    #blure {
                                        width: 250px;
                                        height: 250px;
                                        position: absolute;
                                        margin-top: 131px;
                                        animation: blure 5s infinite;
                                    }
                                    
                                    @keyframes shado {
                                        0% {
                                            box-shadow: 10px 20px 30px red;
                                        }
                                        25% {
                                            box-shadow: 10px 20px 30px greenyellow;
                                        }
                                        50% {
                                            box-shadow: 10px 20px 30px rgb(44, 184, 240);
                                        }
                                        100% {
                                            box-shadow: 10px 20px 30px rgb(0, 0, 170);
                                        }
                                    }
                                    
                                    #shado {
                                        height: 150px;
                                        width: 250px;
                                        position: absolute;
                                        background-color: aqua;
                                        margin-top: 500px;
                                    }
                                    
                                    #shado:hover {
                                        height: 300px;
                                        width: 320px;
                                        position: absolute;
                                        background-color: red;
                                        margin-top: 500px;
                                        animation: shado 5s infinite;
                                    }
                                    
                                    #pix {
                                        height: 150px;
                                        width: 30px;
                                        position: absolute;
                                        background-color: rgb(0, 255, 157);
                                        margin-top: 687px;
                                    }
                                    
                                    #pix:hover {
                                        height: 150px;
                                        width: 100px;
                                        position: absolute;
                                        background-color: red;
                                        margin-top: 687px;
                                        animation: shado 5s infinite;
                                        box-shadow: 10px 10px 5px lightblue inset;
                                    }
                                    
                                    @keyframes sec {
                                        0% {
                                            width: 10px;
                                        }
                                        25% {
                                            width: 70px;
                                        }
                                        50% {
                                            width: 30px;
                                        }
                                        100% {
                                            width: 200px;
                                        }
                                    }
                                    
                                    #sec {
                                        height: 15px;
                                        width: 10px;
                                        position: absolute;
                                        background-color: red;
                                        margin-top: 950px;
                                        animation: sec 5s infinite;
                                        box-shadow: 10px 10px 5px lightblue
                                    }
                                    
                                    @keyframes blacky {
                                        from {
                                            filter: brightness(0%)
                                        }
                                        to {
                                            filter: brightness(200%);
                                        }
                                    }
                                    
                                    #blacky {
                                        height: 50vh;
                                        filter: brightness(0%);
                                        position: absolute;
                                        margin-top: 550px;
                                        animation: blacky 5s infinite ease-in-out;
                                    }
                                    
                                    @keyframes big {
                                        from {
                                            width: 50vh
                                        }
                                        to {
                                            width: 55vh;
                                        }
                                    }
                                    
                                    #big {
                                        width: 80vh;
                                        position: absolute;
                                        margin-top: 750px;
                                        animation: big 5s infinite ease-in-out;
                                    }
                                    
                                    @keyframes old {
                                        from {
                                            filter: blur(5px)grayscale(100%)
                                        }
                                        to {
                                            filter: blur(0px)grayscale(0%);
                                        }
                                    }
                                    
                                    #old {
                                        width: 50vh;
                                        position: absolute;
                                        margin-top: 898px;
                                        filter: grayscale(100%);
                                        animation: old 5s infinite ease-in-out;
                                    }
                                    
                                    .radius {
                                        width: 100px;
                                        height: 100px;
                                        margin-top: 2200px;
                                        border-radius: 30px;
                                        position: relative;
                                        background-color: black;
                                        animation: radius 5s infinite reverse;
                                    }
                                    
                                    @keyframes radius {
                                        0% {
                                            background-color: black;
                                            left: 0px;
                                            top: 0px;
                                        }
                                        75% {
                                            background-color: green;
                                            left: 0px;
                                            top: 200px;
                                        }
                                        100% {
                                            background-color: red;
                                            left: 0px;
                                            top: 0px;
                                        }
                                    }